appname: CodeRunner
layout: main
charset: UTF-8
serializer: JSON
session: YAML
admin_pass: 123456

template: template_toolkit
engines:
  template_toolkit:
    encoding:  utf8
    start_tag: '[%'
    end_tag:   '%]'
  JSON:
    utf8: 1
    pretty: 1

queue: /queue/coderunner
plugins:
  DBIC:
    default:
      schema_class: CodeRunner::Schema
      dsn: dbi:SQLite:dbname=/home/naveed/projects/CodeRunner/data/coderunner.db
  Stomp:
    default:
      hostname: localhost
      port: 61613
  'Cache::CHI':
    driver: FastMmap
    root_dir: /tmp/alex-graphspace-cache
    cache_size: 1m

captcha:
  enabled: 1
  public_key: 6Ld9C68O5E13KzJi06QOw_gdjEOw_gdjEAjaVnGM
  private_key: 6LuPwvBXeZBCumuPwvBXeZBCumeZtuBsEgWJinfK
